
.companyList{
  margin-left: 16px;
  margin-top: 16px;

  @media(min-width: 769px) and (max-width: 1119px) {
    max-width: 720px;
    margin: 24px auto 0 auto ;
  }

  @media(min-width: 1120px) {
    max-width: 1065px;
    margin: 24px auto 0 auto ;
  }

  &__list{
    @media(min-width: 769px) and (max-width: 1119px) {
      width: 720px;
      display: flex;
      flex-wrap: wrap;
    }

    @media(min-width: 1120px) {
      width: 1065px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item{
    width: 240px;
    height: 72px;
    border: 1px solid $gray-white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $ff;

    @media(min-width: 769px) and (max-width: 1119px) {
      width: 224px;
      border: 1px solid $gray-white;
    }

    @media(min-width: 1120px) {
      border: 1px solid $gray-white;
    }
  }

  &__logo{
    margin-left: 16px;
  }

  &__circleLink {
    border: 2px solid $pink;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    &:hover{
      border-color: $Turquoise;
      transform: scale(1.1);
      cursor: pointer;
      transition: all 200ms;
      .companyList__arrow{
        border-color: $Turquoise;
        transform: rotate(405deg);
        transition: all 500ms;
      }
    }
  }

  &__arrow{
    width: 7px;
    height: 7px;
    border-top: 2px solid $pink;
    border-right: 2px solid $pink;
    transform-origin: center;
    transform: rotate(45deg);
    margin-left: -3px;
  }

  &__wrapper{
    max-width: 240px;
    margin-bottom: 32px;

    @media(min-width: 769px) and (max-width: 1119px) {
      max-width: 224px;
      margin: 0 24px 16px 0;
      &:nth-child(3n){
        margin-right: 0;
      }
    }

    @media(min-width: 1120px) {
      max-width: 240px;
      margin: 0 32px 16px 0 ;
      &:nth-child(4n){
        margin-right: 0;
      }
    }
  }
}


