.title{
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);

  @media(min-width: 1440px) {
    max-width:1090px;
  }

  &__title{
    font-family: "TT Lakes Regular";
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 16px;
    color: $gray;
    margin-left: 24px;

    @media(min-width: 769px) and (max-width: 1439px) {
      padding: 16px 0;
      margin-top: 32px;
      width: 100%;
    }

    @media(min-width: 1440px) {
      padding: 16px 0;
      margin-top: 50px;
    }
  }
}




