
.header{
  background-color: white;

  @media (min-width: 1440px) {
    display: none;
  }

  &__menu{
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;

    @media (min-width: 769px) and (max-width: 1439px) {
      margin: 0 24px;
    }

  }

  &__info{
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
    & button{
      margin-right: 16px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }

}




