@import "variables";
@import "header";
@import "buttons";
@import "main";
@import "menu";
@import "info";
@import "company";
@import "wrapper";
@import "companies/companyList";
@import "companies/swiperEdit";
@import "companies/Title";
@import "companies/devices";
@import "companies/prices";
@import "companies/footer";
@import "sideMenu/dropMenu";
@import "sideMenu/navigation";
@import "sideContacts/modalContact";
@import "sideContacts/form";
@import "sideContacts/input";
@import "../../node_modules/swiper/swiper-bundle.min.css";

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  overflow-x: hidden;
}

.none{
  display: none;
}
